@import 'postPage.css';
@import 'mainPage.css';
@import 'portfolio.css';

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: bisque;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 300px;
  margin: 0;
  
  padding: 50px;

  background-color: rgb(16, 13, 53);
}

.header-txt{
  font-family: 'Viga', sans-serif;
  font-size: 72px;
  text-align: center;
  text-emphasis: bold;
  color: white;
}



