.grade-display{
  max-width: 200px;
  max-height: 350px;

  margin: 0 auto;

  background-color: white;

  border-radius: 20px;
  border: 3px solid aquamarine;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;

  padding: 20px;
  text-align: center;
}

.grade-display span{
  font-weight: bold;
  font-size: 60px;
}

.gpa-form-template{
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 100px;
}

.gpa-form-template h1{
  font-size: 48px;
  font-weight: 1000;
  font-family: 'Barlow Condensed', sans-serif;


  text-align: center;

  margin-bottom: 30px;
}

.courseCard-template{
  margin: 0 auto;

  width: 90%;
  max-height: 1000px;
  min-height: 500px;

  background-color: rgb(255, 180, 95);

  border-radius: 20px;

  padding: 30px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  overflow: auto;
}

/* ----------------------- CourseCard ------------------------- */

.statementElement{
  width: 150px;
  height: 150px;

  font-size: 26px;
  font-family: 'Barlow Condensed', sans-serif;

  border-radius: 20%;
  
  text-align: center;

  margin: 20px;
  padding: 20px;
}

.statementElement span{
  font-size: 36px;
  font-weight: bold;

  margin: 10px;
}

.statementElement:hover{
  border: 5px solid red;

  cursor: pointer;
}

.statementElement-1{
  color: white;
  background-color: rgb(248, 145, 222);
}

.statementElement-2{
  color: black; 
  background-color: rgb(117, 224, 243);
}

/* ----------------- CourseForm ------------------ */

.courseForm-template{
  margin: 0 auto;

  width: 90%;

  background-color: rgb(133, 255, 239);

  border-radius: 20px;

  padding: 30px;
}

.input-form{
  text-align: center;
}

.input-form input{
  width: 60%;

  margin-bottom: 10px;

  font-size: 26px;
  font-family: 'Barlow Condensed', sans-serif;

  padding: 20px;

  border-radius: 10px;

  border: none;
}

.semister-template{
  display: flex;
  align-items: center;

  font-size: 26px;
  font-family: 'Barlow Condensed', sans-serif;

  margin-left: 200px;
}

.semister-template input{
  width: 25px;
  height: 25px;

  margin: 20px;
}

.grade-credit-template{
  display: flex;
  align-items: center;
}

.credit-btn{
  width: 80px;
  height: 70px;

  font-family: 'Barlow Condensed', sans-serif;

  padding: 20px;

  border-radius: 50%;

  font-size: 26px;

  margin-left: 200px;
  margin-bottom: 20px;
}

.credit-1{
  background-color: rgb(163, 255, 160);
}

.credit-2{
  background-color: rgb(159, 253, 222);
}

.credit-3{
  background-color: rgb(163, 214, 255);
}

.grade-btn{
  width: 100%;
  height: 70px;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;

  border-radius: 20px;

  padding: 10px;

  margin-left: 80px;
  margin-bottom: 20px;

}

.submit-btn{
  width: 50%;

  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;

  background-color: white;

  border-radius: 20px;

  font-size: 26px;
  text-align: center;

  padding: 10px;
}

.submit-btn:hover{
  border: 5px solid green;
  cursor: pointer;

  transition: 0.3s;
}

.submit-btn:active{
  background-color: aqua;

  border: 5px solid green;
}

/* ------------- pop-up --------------- */

.pop-upContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 126%;

  background-color: rgba(0, 0, 0, 0.2);

  position: absolute;
}

.pop-up{
  background-color: white;

  border-radius: 20px;

  padding: 20px;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 40px;
  font-weight: bold;
}